* {
    margin: 5px;
    box-sizing: border-box;
    padding: 2px;
}

body {
    background-color: #EFF5F5;
    margin: 0;
}

.top-div {
    min-height: 700px;
}

.bottom-div {
    text-align: center;
    background-color: #497174;
    padding: 40px 0 20px;
}

a {
    text-decoration: none;
    color: #EB6440;
    font-weight: bold;
}

h1 {
    margin: 1px;
}

a:hover  {
    color: mediumvioletred;

}
thead {
    background-color: #497174;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tbody {
    background-color: #D6E4E5;

}

td {
    margin: 5px;
    padding: 3px;
    text-align: center;
}

#author-tag {
    color: #D6E4E5;
    font-size: 0.75rem;
}

.image {
    display: block;
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}

.question {
    border-left: 5px;
    border-left-style: solid;
}

.edit_and_delete {
    font-size: 10px;
}

.vote {
    vertical-align: middle;
}

.answer {
    border: 2px solid;
    border-radius: 5px 10px 5px 10px;
    width:75%;
}