* {
    margin: 5px;
    box-sizing: border-box;
    padding: 2px;
}

body {
    background-color: #EFF5F5;
    margin: 0;
}

.top-div {
    min-height: 700px;
}

.bottom-div {
    text-align: center;
    background-color: #497174;
    padding: 40px 0 20px;
}

a {
    text-decoration: none;
    color: #EB6440;
    font-weight: bold;
}

h1 {
    margin: 1px;
}

a:hover  {
    color: mediumvioletred;

}
thead {
    background-color: #497174;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tbody {
    background-color: #D6E4E5;
}

td,th {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.title-td {
    max-width: 500px;
    color: black;
}

#author-tag {
    color: #D6E4E5;
    font-size: 0.75rem;
}

.image {
    display: block;
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}

.img-logo {
    float: left;
    max-height:100px;
    max-width:100px;
}

.header-text {
    float: right;
    padding-top: 25px;
    color: #497174;
    font-family: 'Stardos Stencil', cursive;
    font-size: xxx-large;
}

header {
    width: 25%;
    margin-left: 50px;
}

.question {
    background-color: #D6E4E5;
    border-left: 5px;
    border-left-style: solid;
    border-color: #497174;
}

.edit-delete {
    font-size: 11px;
}

.vote {
    vertical-align: middle;
}

.delete-icon {
    vertical-align: middle;
}

.answer {
    background-color: #D6E4E5;
    border: 2px solid;
    border-radius: 5px 10px 5px 10px;
    width:75%;
}

.time-views {
    font-size: 10px;
}

.home-page-content {
    width: 100%;
    overflow: hidden;
}

.filter-header {
    padding: 0;
    background-color: #497174;
    color: whitesmoke;
}

.search-block {
    width: 15%;
    float: left;
    background-color: #D6E4E5;
    border: #497174 2px solid;
    border-radius: 5px;
}

.questions-list {
    width: 85%
}

.tag-container {
    width: 100%;
    overflow: hidden;
}

.select-tag {
    width: 49%;
    float: left;
}

.add-tag {
    width: 49%;
    float: right;
}

.tag {
    padding: 5px;
    background-color: #D6E4E5;
    border: 1px solid #497174;
    border-radius: 5px;
    text-align: center;
}

.add-comment {
    margin-left: 2.5%;
    font-size: 12px;
    color: slategray;
}

.comment-section {
    color: black;
    margin-left: 2.5%;
    width: 40%;
    border-left: 5px;
    border-left-style: solid;
    border-color: #497174;
}

.comment {
    border-bottom: 1px;
    border-bottom-style: dotted;
    font-size: smaller;
}

.edit-delete-comment a {
    font-size: 12px;
    color: slategray;
}


.comment .time-views {
        margin-left: 20px;
}

.search-button {
    padding: 0;
    margin: 2px;
}
