<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap" rel="stylesheet">
    <title>
        {% block title %}{% endblock %} | Ask Mate!
    </title>
    <link rel="icon" href="/static/images/favicon-32x32.png" type="image/x-icon">

</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home_page') }}">
            <img src="{{ url_for('static', filename='images/askmate-logo.png') }}" class="img-logo">
        </a>
        <h1 class="header-text">
            ASK MATE!
        </h1>
        <div class="navbar-links-container">
            <a href="{{ url_for('home_page') }}">&#x2190 Main Page</a>
            <a href="{{ url_for('add_question') }}">Add Question</a>
            <a href="{{ url_for('view_tags') }}">View all Tags</a>
            <a href="{{ url_for('bonus_questions') }}">Bonus questions</a>
            {% if not user_logged_in %}
                <a href="{{ url_for('register_user') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('list_users') }}">View all Users</a>
                <a href="{{ url_for('user_profile', user_id=user_id) }}">My Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    <div class="top-div" id="top-div">
    {% block content %}
    {% endblock %}
    {% block search %}
    {% endblock %}
    </div>
    <div class="bottom-div">
        <a class="footer-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" target="_blank" rel="noopener noreferrer" href="mailto:office@devteam1.com">Email</a>
        <p id="author-tag">© 2022 Team Development 1</p>
    </div>
<script src="/static/js/scripts.js"></script>
</body>
</html>