{% extends 'base.html' %}
{% block title %}{{ question['title'] }}{% endblock %}
{% block content %}
    <h1>{{ question['title'] }}</h1>
    {% if question['image'] != '' %}
    <img src="{{ url_for('static', filename=('images/' + question['image'])) }}">
    {% endif %}
    <h3>{{ question['message'] }}</h3>
    <a href="{{ url_for('edit_question', question_id = question['id']) }}">Edit question</a>
    <a href="{{ url_for('delete_question', question_id = question['id'])}}">Delete question</a>
    <br><br>
    </form>
    {% for answer in answers %}
        <hr>
        <p><a href="{{ url_for('answer_upvote', answer_id = answer['id']) }} "style="color:green">&#x2713</a>{{ answer['vote_number'] }}
        <a href="{{ url_for('answer_downvote', answer_id = answer['id']) }} "style="text-align:right">&#10007</a>    {{ answer['message'] }}</p>
        {% if answer['image'] != '' %}
            <img src="{{ url_for('static', filename=('images/' + answer['image'])) }}">
        {% endif %}
        <form action="{{ url_for('delete_answer', answer_id = answer['id'])}}" method="post">
                <button type="submit" name="open" value="{{ answer['question_id'] }}"> DELETE ANSWER </button>
            </form>
    {% endfor %}

    <br>
    <a href="{{ url_for('post_answer', question_id = question['id']) }}">Add an answer</a>
    <br><br>
    <a href="{{ url_for('home_page') }}">Back to Main</a>
{% endblock %}