{% extends 'base.html' %}
{% block title %}{{ question['title'] }}{% endblock %}
{% block content %}
    <a href="{{ url_for('home_page') }}">&#x2190 Back to Main Page</a>
    <br>
    <h1>{{ question['title'] }}</h1>
    <small>Views: {{ question['view_number'] }}</small>
    <div class="question">
    <h3>{{ question['message'] }}</h3>
    {% if question['image'] != '' %}
    <img src="{{ url_for('static', filename=('images/' + question['image'])) }}">
    {% endif %}
    </div>
    <div class="edit_and_delete">
        <a href="{{ url_for('edit_question', question_id = question['id']) }}">EDIT</a>
        <a href="{{ url_for('delete_question', question_id = question['id'])}}">DELETE QUESTION</a>
    </div>
    <br>
    <h2>Comments:</h2>
    </form>
    {% for answer in answers %}
        <h4>{{ answer['user'] }}</h4>
        <div class="answer">
        <p>
            <a href="{{ url_for('answer_upvote', answer_id = answer['id']) }}">
                <img src="{{ url_for('static', filename='images/angle-circle-up.png') }}" class="vote">
            </a>
            {{ answer['vote_number'] }}
            <a href="{{ url_for('answer_downvote', answer_id = answer['id']) }}">
                <img src="{{ url_for('static', filename='images/angle-circle-down.png') }}" class="vote">
            </a>
            {{ answer['message'] }}
        </p>
        {% if answer['image'] != '' %}
            <img src="{{ url_for('static', filename=('images/' + answer['image'])) }}">
        {% endif %}
    <small><time> {{ answer['submission_time'] }}</time></small>
        <form action="{{ url_for('delete_answer', answer_id = answer['id'])}}" method="post">
                <button type="submit" name="open" value="{{ answer['question_id'] }}"> DELETE ANSWER </button>
        </form>


        </div>
        <a href="{{ url_for('delete_answer', answer_id = answer['id'])}}"class="edit_and_delete"> DELETE ANSWER</a>
        <br><br>
    {% endfor %}

    <form action="{{ url_for('post_answer', question_id = question['id']) }}" method="get">
        <p><button type="submit">ADD NEW ANSWER</button></p>
    </form>

    <br>

{% endblock %}