{% extends 'base.html' %}
{% block title %}{{ question['title'] }}{% endblock %}
{% block content %}
    <h1>{{ question['title'] }}</h1>
    <h4>{{ question['message'] }}</h4>
    <br>
    <a href="{{ url_for('edit_question', question_id = question['id']) }}">Edit</a>
    {% for answer in answers %}
        <hr>
        <h3>{{ answer['vote_number'] }}    {{ answer['message'] }}</h3>
    {% endfor %}
    <br>
    <a href="{{ url_for('post_answer', question_id = question['id']) }}">Add an answer</a>

    <br>
    <a href="{{ url_for('home_page') }}">Back to Main</a>
    <form action="{{ url_for('delete_question', question_id = question['id'])}}" method="post">
        <button name="foo">DELETE</button>
    </form>
{% endblock %}