{% extends 'base.html' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
    <h1>Edit a Question</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
        <label>Title:</label>
        <br>
        <input type="text" name="title" size="100" value="{{ title }}" required>
        <br><br>
        <label>Message:</label>
        <br>
        <textarea name="message" rows="10" cols="100" required>{{ message }}</textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}