{% extends 'home_page.html' %}
{% block search %}
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>views</th>
                <th>votes</th>
                <th>submission time</th>
            </tr>
        </thead>
        <tbody>
            {% for question in search_data %}
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.submission_time }}</td>
            </tr>
            {% endfor %}
{#            {% for  answer in search %}#}
        </tbody>
    </table>
{% endblock %}