{% extends 'base.html' %}
{% block title %}
    HOME PAGE
{% endblock %}
{% block content %}
    <div class="main-page-container">
        <div class="home-page-content">
            <div class="left-bar">
                <div class="filter-container">
                    <div class="filter-header">
                        <h3>Filter</h3>
                    </div>
                    <form action="{{ url_for('home_page_list') }}" method="GET">
                        <p><label for="order_by">Sort by:</label></p>
                            <select id="order_by" name="order_by">
                                <option value="submission_time" selected>Submission time</option>
                                <option value="view_number">Views</option>
                                <option value="vote_number">Votes</option>
                                <option value="title">Title</option>
                            </select>
                        <p>Order: </p>
                            <input type="radio" id="desc" name="order_direction" value="desc" checked>
                            <label for="desc">DESC</label>
                            <input type="radio" id="asc" name="order_direction" value="asc">
                            <label for="asc">ASC</label>
                        <p><button type="submit">SORT</button></p>
                    </form>
                </div>
                <div class="change-fontsize">
                    <p>Font size:</p>
                    <select id="input-font" class="input"
                        onchange="changeFontSize (this);">
                        <option value="small">Small</option>
                        <option value="initial" selected>Default</option>
                        <option value="large">Large</option>
                    </select>
                </div>
            </div>
            <div class="questions-list">
                {% if user_logged_in %}
                <p>Hello, you are logged in as <a href="{{ url_for('user_profile', user_id=user_id) }}">{{ username }}</a>!</p>
                {% endif %}
                <form action="{{ url_for('search') }}" method="get">
                    <input type="text" name="q" placeholder="Search" size="50">
                    <button type="submit">
                        <img src="{{ url_for('static', filename='images/magnifying-glass.png') }}" class="search-button">
                    </button>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>views</th>
                            <th>votes</th>
                            <th>vote up/down</th>
                            <th>submission time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in all_questions %}
                        <tr>
                            <td><a href="{{ url_for('show_question', question_id = x.id) }}" class="title-td">{{x.title}}</a></td>
                            <td>{{ x.view_number }}</td>
                            <td>{{ x.vote_number }}</td>
                            <td>
                                <a href="{{ url_for('question_upvote', question_id = x.id) }}" {% if 'user_id' not in session %} class="disabled" {% endif %}>
                                    <img src="{{ url_for('static', filename='images/angle-circle-up.png') }}">
                                </a>
                                <a href="{{ url_for('question_downvote', question_id = x.id) }}" {% if 'user_id' not in session %} class="disabled" {% endif %}>
                                    <img src="{{ url_for('static', filename='images/angle-circle-down.png') }}">
                                </a>
                            </td>
                            <td>{{ x.submission_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page == 'home_page' %}
                    <a href="{{ url_for('home_page_list') }}">See All Questions</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
