{% extends 'base.html' %}
{% block title %}
    HOME PAGE
{% endblock %}
{% block content %}
    <header>
    <h1>
        ASK MATE!
    </h1>
    </header>
    <a href="{{ url_for('add_question') }}">Add Question</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>submission time</th>
                <th>views</th>
                <th>votes</th>
                <th>vote up/down</th>
                <th>title</th>
{#                <th>message</th>#}
{#                <th>image</th>#}
            </tr>
        </thead>
        <tbody>
        {% for x in all_questions %}
        <tr>
{#            <td><a href="{{ url_for('dynamic_route',id=x.id)}}">{{x.id}}</a></td>#}
            <td><a href="{{ url_for('show_question', question_id = x.id) }}">{{x.id}}</a></td>
            <td>{{ x.submission_time }}</td>
            <td>{{ x.view_number }}</td>
            <td>{{ x.vote_number }}</td>
            <td>
                <a href="{{ url_for('question_upvote', question_id = x.id) }}">Upvote</a>
                <a href="{{ url_for('question_downvote', question_id = x.id) }}">Downvote</a>
            </td>
            <td>{{x.title}}</td>
{#            <td>{{x.message}}</td>#}

        </tr>
    {% endfor %}

    </tbody>
    </table>
    <form action="{{ url_for('home_page') }}" method="GET">
        <p><label for="order_by">Sort by:</label></p>
            <select id="order_by" name="order_by">
                <option value="submission_time" selected>Submission time</option>
                <option value="view_number">View number</option>
                <option value="vote_number">Vote number</option>
                <option value="title">Title</option>
            </select>
        <p>Order: </p>
            <input type="radio" id="desc" name="order_direction" value="desc" checked>
            <label for="desc">DESC</label>
            <input type="radio" id="asc" name="order_direction" value="asc">
            <label for="asc">ASC</label>
        <p><button type="submit">SORT</button></p>
    </form>

{% endblock %}
