{% extends 'base.html' %}
{% block title %}
    Users
{% endblock %}
{% block content %}
    <div class="user-list">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Registration date</th>
                    <th>Questions</th>
                    <th>Answers</th>
                    <th>Comments</th>
                    <th>Reputation</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('user_profile', user_id=user.id) }}">{{ user.username }}</a></td>
                    <td>{{ user.registration_date }}</td>
                    <td>{{ user.question_count }}</td>
                    <td>{{ user.answer_count }}</td>
                    <td>{{ user.comment_count }}</td>
                    <td>{{ user.reputation }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
