{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('home_page') }}">&#x2190 Back to Main Page</a>
    <br>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>views</th>
                <th>votes</th>
                <th>submission time</th>
            </tr>
        </thead>
        <tbody>
            {% for question in search_data %}
                <tr>
                    <td>{{ question.title | safe}}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td>{{ question.submission_time }}</td>
                </tr>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.message }}</td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}