{% extends 'base.html' %}
{% block title %}
    {{ user.username }}'s Profile
{% endblock %}
{% block content %}
<div class="main-page-container">
    <a href="{{ url_for('home_page') }}">Back to Main Page</a>
    <div class="user-data-container">
        <table>
            <tr>
                <td class="user-header">User ID</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td class="user-header">Username</td>
                <td><a href="{{ url_for('user_profile', user_id=user.id) }}">{{ user.username }}</a></td>
            </tr>
            <tr>
                <td class="user-header">Registration Date</td>
                <td>{{ user.registration_date }}</td>
            </tr>
            <tr>
                <td class="user-header">Asked Questions</td>
                <td>{{ user.question_count }}</td>
            </tr>
            <tr>
                <td class="user-header">Answers</td>
                <td>{{ user.answer_count }}</td>
            </tr>
            <tr>
                <td class="user-header">Comments</td>
                <td>{{ user.comment_count }}</td>
            </tr>
            <tr>
                <td class="user-header">Reputation</td>
                <td>{{ user.reputation }}</td>
            </tr>
        </table>
    </div>
    <div class="user-questions-container user-container">
        <table>
            <tr>
                <td class="user-header">{{ user.username }}'s Questions</td>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>
                        <a href="{{ url_for('show_question', question_id=question.id) }}" class="title-td">
                            {{ question.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="user-container user-answers-container">
        <table>
            <tr>
                <td class="user-header">{{ user.username }}'s Answers</td>
            </tr>
            {% for answer in answers %}
                <tr>
                    <td>
                        <a href="{{ url_for('show_question', question_id=answer.question_id) }}" class="title-td">
                            {{ answer.message }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="user-container user-comments-container">
        <table>
            <tr>
                <td class="user-header">{{ user.username }}'s Comments</td>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>
                        <a href="{{ url_for('show_question', question_id=comment.question_id) }}" class="title-td">
                            {{ comment.message }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}